
.card-enter:nth-child(2) {
  transform: translate(400%, -215px);
}
.card-enter:nth-child(3) {
  transform: translate(300%, -215px);
}
.card-enter:nth-child(4) {
  transform: translate(200%, -215px);
}
.card-enter:nth-child(5) {
  transform: translate(100%, -215px);
}
.card-enter:nth-child(6) {
  transform: translate(0, -215px);
}
.card-enter.card-enter-active {
  transform: translate(0);
  transition: all 500ms ease-in-out;
}

.card-leave-active:nth-child(2) {
  transform: translate(400%, -215px);
}
.card-leave-active:nth-child(3) {
  transform: translate(300%, -215px);
}
.card-leave-active:nth-child(4) {
  transform: translate(200%, -215px);
}
.card-leave-active:nth-child(5) {
  transform: translate(100%, -215px);
}
.card-leave-active:nth-child(6) {
  transform: translate(0, -215px);
}
.card-leave {
  transform: translate(0);
  transition: all 500ms ease-in-out;
}

.Card {
  width: 20%;
  text-align: center;
  align-self: flex-end;
  user-select: none;
}

.Deck>span {
  display: flex;
  height: 400px;
}

.Deck {
  width: 80%;
  height: 400px;
  min-Width: 500px;
  border: 1px solid black;
  position: relative;
  flex-direction: column;
}

.BackCard {
  position: absolute;
  width: 20%;
  right: 0;
  text-align: center;
  user-select: none;
}
