//Colors

$white: #fff;
$bg-color: #2a475e;
$block-color: #1b2838;
$message-color: #2c425c;
$own-message: #275282;
$font-color: #fff;
$link-hover: #3ebaf4;

// Fonts

$font-default: 'Arial', sans-serif;
$font-main: 'Roboto', $font-default;

$text-size: 1.8rem;
$text-line-height: 1.35;


// Grid points

$breakpoints: (
    'small': (min-width: 767px),
    'medium': (min-width: 992px),
    'large': (min-width: 1200px)
);
