.betBlock {
    min-width: 19%;
    margin: 0 5px;
    background: $block-color;
    border-radius: 5px;
}

.btn-block {
    width: 100%;
    padding: 13px 0;
    border-radius: 5px;
    margin: 5px auto;
}

.btn-odd {
    background: $white-blue;
}

.btn-even {
    background: $purple;
}

.btn-1-7 {
    background: $red;
}

.btn-8-14 {
    background: $black;
}

.btn-zero {
    background: $green;
}

.own-bet {
    width: 90%;
    padding: 5px 0;
    margin: 10px auto;
    background-color: $field-color;
    border-radius: 5px;
    border: 1px solid $border-bar;
    text-align: center;
}

.total-people {
    float: left;
    padding-left: 5px;

    i {
        padding: 0 5px;
    }
}

.total-bets {
    float:right;

    i {
        padding: 0 5px;
    }
}

.list-bets {
    padding: 15px 5px;
}
