.top-bar {
    padding-bottom: 20px;
}

.header {
    height: 80px;
    padding: 20px 0;
    text-align: center;
    color: $white;
    background-image: linear-gradient( 0deg, rgb(18,27,39) 0%, rgb(30,46,66) 100%);
}

.menu__container {
    padding-top: 5px;
}

.menu__i {
    display: inline-block;

    & + & {
        padding-left: 15px;
    }
}

.menu__link {
    padding: 5px 8px;

    &:hover {
        border-bottom: 2px solid $link-hover;
    }
}

.profile-link {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}

.profile-link__avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.lang-img {
    padding-top: 4px;
}

.lang-name,
.profile-link__name {
    display: inline-block;
    padding-left: 5px;
    padding-top: 7px;
    vertical-align: top;
}

.games {
    color: $font-color;
    background: #193145;
    text-align: center;
}

.game-name {
    font-size: 1.2rem;
    display: inline-block;
    padding: 8px;

    &:hover {
        border-bottom: 2px solid $link-hover;
    }
}

.auth-img {
    width: 100%;
}
