@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/font-awesome';

@import 'base/reset';
@import 'base/main';
@import 'base/emoji-picker';

@import 'header';
@import 'footer';

@import 'chat';

@import 'poker/Poker';

@import 'roulette/progressbar';
@import 'roulette/roulette';
@import 'roulette/wheel';
@import 'roulette/balance';
@import 'roulette/betBlock';

@import 'profile/sidebar';
@import 'profile/profileData';

@import 'support/support';

@import 'deposit';
@import 'item';

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

.cta-button {
  background: #5cb85c;
  border-color: #5cb85c;
  color: #fff;
  width: 400px;
  margin: 0 auto;
  padding: 6px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 2px solid transparent;
  border-radius: 10px;
}
