.profile-data-wrapper {
  font-family: $font-main;
  font-size: 16px;
  margin-top: 18px;

  .stats-header {
    font-size: 20px;
  }

  .common-stats {
    font-size: 14px;

    .common-stats-table {
      width: 100%;

      .common-stats-tr {
        border-bottom: 1px solid $border-bar;

        &:last-child {
          border-bottom: none;
        }
      }

      .common-stats-td {
        padding: 10px 0;

        &:first-child {
          text-align: left;
          padding-left: 50px;
          width: 50%;
        }

        &:last-child {
          text-align: left;
          width: 40%;
        }
      }
    }
  }

  .amount {
    display: inline-block;
  }
}

.collect-earnings {
  margin-bottom: 18px;

  .collect-earnings-button {
    background: #5cb85c;
    border-color: #5cb85c;
    color: #fff;
    width: 400px;
    margin: 0 auto;
    padding: 6px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    border-radius: 10px;
  }
}

.profile-settings {
  .sound-toggle-label {
    display: inline-block;

    .ssound-toggle-input {
      margin: 2px 10px 2px 0;
    }
  }

  .select-lang {
    margin-top: 10px;

    .select-lang-select {
      margin: 0 10px;
    }

    .select-label {
      display: inline-block;
    }
  }
}

.table-wrapper {
  border-radius: 5px;

  .ReactTable {
    border: 0;

    .rt-table {
      background: $block-color;
      border: 1px solid $border-bar;
      border-radius: 5px;

      .rt-thead {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 1px solid $border-bar;
        background-color: #192638;

        .rt-resizable-header{
          border-right-color: $border-bar;
        }

        .-sort-asc, {
          box-shadow: inset 0 3px 0 0 $blue !important;
        }

        .-sort-desc {
          box-shadow: inset 0 -3px 0 0 $blue !important;
        }
      }

      .rt-tbody {
        .rt-tr-group {
          border-color: $border-bar;

          .rt-td {
            border-color: $border-bar;
          }
        }
      }
    }

    .-pagination {
      background-color: $bg-color;
      box-shadow: none;
      border-top: none;
      padding: 3px 0;

      .-pageJump > input,
      .-pageSizeOptions > select {
        background-color: $block-color;
        color: $white;
        border: 1px solid $border-bar;
      }

      .-btn {
        background-color: $block-color;
        color: $white;
        border: 1px solid $border-bar;
      }
    }

    .-odd {
      background-color: #193145 !important;
    }
  }

  .-loading {
    transition: none;
    background: none;

    .-loading-inner {
      top: 30%;

      .profile-data-loader {
        color: $white;
      }
    }
  }
}
