.sidebar {
  padding: 20px 10px 5px;
  overflow-y: auto;
}

.sidebar-list-item {
  float: left;
  padding: 5px 10px;

  div {
    display: inline-block;
    vertical-align: middle;

    .sidebar-list-item__icon {
      width: 25px;
      height: 20px;
      fill: white;
    }
  }

  .sidebar-list-item__title,
  .sidebar-list-item__sublist__item-title {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
  }

  .sidebar-list-item__sublist {
    padding-left: 23px;

    li {
      padding: 5px 10px;
      text-align: left;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
